<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Add new book</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<form th:action="@{/add}" th:method="post">
    <h3>Add New Book</h3>


    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" type="text" name="title" placeholder="Enter book title" required/>
    </div>

    <div class="row">
        <label for="author-id-input">Author ID:</label>
        <input id="author-id-input" type="text" name="author.id" placeholder="Enter author ID" required/>
    </div>

    <div class="row">
        <label for="genre-id-input">Genre ID:</label>
        <input id="genre-id-input" type="text" name="genre.id" placeholder="Enter genre ID" required/>
    </div>

    <div class="actions">
        <button type="submit" class="btn-save">Add</button>
        <button type="button" class="btn-cancel" th:onclick="|window.location.href='@{/}'|">Cancel</button>
    </div>
</form>

</body>
</html>