<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Add new book</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<form th:action="@{/add}" th:method="post">
    <h3 th:text="#{books-header-add}">Add New Book</h3>


    <div class="row">
        <label for="book-title-input" th:text="#{books-col-title} + ':'">Title:</label>
        <input id="book-title-input"
               type="text"
               name="title"
               th:placeholder="#{book-title-placeholder}"
               required/>
    </div>

    <div class="row">
        <label for="author-select" th:text="#{books-col-author} + ':'">Author</label>
        <select id="author-select" name="authorId">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.fullName}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre-select" th:text="#{books-col-genre} + ':'">Genre</label>
        <select id="genre-select" name="genreId">
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}"></option>
        </select>
    </div>

    <div class="actions">
        <!-- Add -->
        <button type="submit"
                class="btn-add"
                th:text="#{button-add}">
            Add
        </button>

        <!-- Cancel -->
        <button type="button"
                class="btn-cancel"
                th:text="#{button-cancel}"
                th:onclick="|window.location.href='@{/}'|">
            Cancel
        </button>
    </div>
</form>

</body>
</html>