<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{books-page-title}">List of all books</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Switch language -->
<div class="lang-switcher-wrapper">
    <h3 class="lang-header" th:text="#{lang-switcher-header}">Select language</h3>
    <div class="lang-switcher">
        <a href="#" th:href="@{/(lang=en)}" th:text="#{en-lang-switch-button-caption}">EN</a>
        <a href="#" th:href="@{/(lang=ru)}" th:text="#{ru-lang-switch-button-caption}">RU</a>
    </div>
</div>

<h3 class="books-header" th:text="#{books-header} + ':'">Books:</h3>

<!-- Add new book -->
<a th:href="@{/add}" class="btn-add" th:text="#{books-add-button}"> Add New Book</a>

<table class="books">
    <thead>
    <tr>
        <th th:text="#{books-col-title}">Title</th>
        <th th:text="#{books-col-author}">Author</th>
        <th th:text="#{books-col-genre}">Genre</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Book Title</td>
        <td th:text="${book.author.fullName}">Author Name</td>
        <td th:text="${book.genre.name}">Genre Name</td>

        <!-- Book -->
        <td class="col-actions">
            <form th:action="@{/{id}/edit(id=${book.id})}" method="get"
                  style="margin:0; padding:0; background:transparent;">
                <input type="hidden" name="id" th:value="${book.id}">
                <button type="submit" class="btn-edit" th:text="#{button-edit}">Edit</button>
            </form>
        </td>

        <!-- Delete -->
        <td class="col-actions">
            <form th:action="@{/{id}/delete(id=${book.id})}" method="post"
                  onsubmit="return confirm('Are you sure you want to delete this book?');"
                  style="margin:0; padding:0; background:transparent;">
                <button type="submit" class="btn-delete" th:text="#{button-delete}">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
