<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<form id="edit-form"
      th:action="@{/edit(id=${book.id})}"
      th:method="post"
      th:object="${book}">

    <h3 th:text="#{book-form-header}">Book info</h3>

    <div class="row">
        <label for="id-input" th:text="#{book-field-id} + ':'">ID</label>
        <input id="id-input"
               type="text"
               readonly
               th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="person-name-input" th:text="#{book-field-title} + ':'">Title</label>
        <input id="person-name-input"
               name="title"
               type="text"
               th:value="*{title}"/>

        <div class="errors"
             th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}">
            Wrong book name
        </div>
    </div>

    <div class="row">
        <label for="person-name-input" th:text="#{book-field-author-id} + ':'">Author ID</label>
        <input id="author-id-input"
               name="author.id"
               type="text"
               th:value="*{author.id}"/>

        <div class="errors"
             th:if="${#fields.hasErrors('author.id')}"
             th:errors="*{title}">
            Wrong author ID
        </div>
    </div>

    <div class="row">
        <label for="person-name-input" th:text="#{book-field-genre-id} + ':'">Genre ID</label>
        <input id="genre-id-input"
               name="genre.id"
               type="text"
               th:value="*{genre.id}"/>

        <div class="errors"
             th:if="${#fields.hasErrors('genre.id')}"
             th:errors="*{title}">
            Wrong author ID
        </div>
    </div>

    <div class="actions">
        <!-- Update -->
        <button type="submit" name="update"
                class="btn-update"
                th:text="#{update-button-caption}">
            Update
        </button>

        <!-- Delete -->
        <button type="submit" name="delete"
                class="btn-delete"
                th:text="#{delete-button-caption}"
                onclick="return confirm('Are you sure you want to delete this book?');">
            Delete
        </button>

        <!-- Cancel -->
        <button type="button"
                class="btn-cancel"
                th:text="#{cancel-button-caption}"
                th:onclick="|window.location.href='@{/}'|">
            Cancel
        </button>
    </div>
</form>

</body>
</html>