<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h3>Books:</h3>

<!-- Add new book -->
<a th:href="@{/add}" class="btn-add">+ Add New Book</a>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author ID</th>
        <th>Author</th>
        <th>Genre ID</th>
        <th>Genre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">John Doe</td>
        <td th:text="${book.author.id}">John Doe</td>
        <td th:text="${book.author.fullName}">John Doe</td>
        <td th:text="${book.genre.id}">John Doe</td>
        <td th:text="${book.genre.name}">John Doe</td>
        <td>
            <a th:href="@{/edit(id=${book.id})}" href="edit.html">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
