spring:
  autoconfigure:
    exclude:
      - de.flapdoodle.embed.mongo.spring.autoconfigure.EmbeddedMongoAutoConfiguration

  datasource:
    url: jdbc:h2:mem:maindb

  batch:
    chunk-size: 5
    page-size: 10
    job:
      enabled: false
    jdbc:
      initialize-schema: always

  sql:
    init:
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  data:
    mongodb:
      uri: mongodb://admin:secret@localhost:27017/?authSource=admin
      database: app_db

logging:
  level:
    ROOT: ERROR